default:
    suites:
        workshop_session:
            contexts:
                - WorkshopSession\Behat\WorkshopSessionDomainContext:
                    kernel: '@kernel'
                    commandBus: '@broadway.command_handling.command_bus'
            filters:
                tags: "@workshop_session"

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
