{% extends 'base.html.twig' %}

{% block body %}


    <!-- Header -->
    <header class="masthead " style="padding: 20px;">
        <div class="row">
            <div class="col-md-12 text-right">
                <h1 class="mb-1">{% trans %}contact.thank_you{% endtrans %}</h1>
            </div>
            <div class="col-md-12  text-right">
                <h3 class="mb-5"><em>{% trans %}contact.get_back_soon{% endtrans %}</em></h3>
            </div>
        </div>
    </header>

{% endblock %}