{% extends 'base.html.twig' %}

{% block body %}

    <section class="content-section" id="portfolio">
        <div class="container">{{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}